<div class="container-fluid">
  <div class="row justify-content-center">
    <main role="main" class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Invite your team members</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <form [formGroup]="inviteForm" (ngSubmit)="invite()" class="col form-inline">
              <div class="form-group w-100">
                <div class="input-group w-100">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" name="email">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary float-right col" [disabled]="!inviteForm.valid">
                      Send invite
                    </button>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col">
              <hr>
              <div *ngIf="invitedMembers.length">
                <div *ngFor="let invite of invitedMembers">
                  {{invite.email}} - {{invite.status}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-secondary float-right" routerLink="/my-info">Continue to
                dashboard
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
