<div class="row">
  <main role="main" class="col offset-2">
    <h1 class="mt-3">Team Overview</h1>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let member of teamMembers">
        <div class="text-center">
          <img [src]="member.image">
          <div>{{member.fullName}}</div>
          <div>{{member.position}}</div>
          <div>{{member.status}}</div>
        </div>
        <hr>
        <div>New Tasks: {{member.tasksNewCount}}</div>
        <div>In Progress Tasks: {{member.tasksInProgressCount}}</div>
        <hr>
        <div>{{member.newRequestsCount}} New Requests</div>
      </div>
    </div>
  </main>
</div>
