<div class="container-fluid">
  <div class="row justify-content-center">
    <main role="main" class="col-xs-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center"><span class="ti-wand"></span> Welcome to -manage-</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3>-manage- is a tool to increase team engagement and help you understand how your team members are
                feeling.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="mt-3">There are two main features of -manage-:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4 class="mt-3 font-weight-bold text-primary"><span class="ti-direction-alt"></span> Objective management</h4>
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</h6>
            </div>
            <div class="col">
              <h4 class="mt-3 font-weight-bold text-primary"><span class="ti-comments"></span> Feedback collection</h4>
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</h6>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
