<div class="mt-4" *ngIf="user">
  <h3 class="mb-3">Organisation Details</h3>
  <form [formGroup]="organisationDetailsForm">
    <div class="form-group col">
      <label for="organisationNameInput">Organisation Name:</label>
      <input formControlName="organisationName" type="text" class="form-control" id="organisationNameInput" disabled>
    </div>

    <div class="form-group col">
      <label for="organisationURLInput">URL:</label>
      <input formControlName="organisationURL" type="text" class="form-control" id="organisationURLInput" disabled>
    </div>

    <div formGroupName="organisationTeamsForm">
      <div class="form-group col">
        <label for="teamNameInput">Team Name:</label>
        <input formControlName="teamName" type="text" class="form-control" id="teamNameInput" disabled>
      </div>

      <div class="form-group col">
        <label for="teamBossInput">Team Boss:</label>
        <input formControlName="teamBoss" type="text" class="form-control" id="teamBossInput" disabled>
      </div>
    </div>

  </form>
</div>
