<div class="container-fluid">
  <div class="row justify-content-center">
    <main role="main" class="col">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3><span class="ti-marker-alt"></span> Create a team</h3>
          </div>
          <div class="card-body">
            <h6 class="col mb-3">-Name- is made to work with your team. Create a team to get started.</h6>
            <form>
              <div class="form-group">
                <label class="col mb-3">
                  <input type="text" class="form-control" [(ngModel)]="teamName" name="teamName"
                         placeholder="Team name">
                  <small class="text-muted">You will be appointed the team manager. You can change this when someone
                    else joins your team
                  </small>
                </label>
                <button type="submit" class="btn btn-primary float-right" (click)="createTeam()">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
