<div class="row justify-content-center">
  <main role="main" class="col">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Join a team</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group col-12">
              <label class="col-12">
                Join an existing team in your organisation:
                <select class="form-control" [(ngModel)]="teamId" name="team">
                  <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
                </select>
              </label>
              <button type="submit" class="btn btn-primary float-right" (click)="joinTeam()">Join</button>
            </div>

            <div class="form-group col-12">
              <label class="col-12 mt-4">
                Or, create a new team
                <input type="text" class="form-control" [(ngModel)]="teamName" name="teamName" placeholder="Team name">
              </label>
              <small class="form-text text-muted">You will be set as the team manager. You can change this when someone else joins your team.</small>
              <button type="submit" class="btn btn-primary float-right" (click)="createTeam()">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
