<main role="main">
  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <div class="row mt-5">
        <div class="col">
          <h3 class="mb-2 font-weight-bold">This Week</h3>
          <div class="goal-wrapper d-flex flex-column">
            <div *ngFor="let goal of model.slice(0,2)" class="goal-item my-2 p-2" [class.pending]="goal.status === 'pending'">
              <div class="goal-header d-flex">
                <h4 class="goal-title flex-grow-1">
                  {{goal.title}}
                </h4>
                <div class="goal-status flex-shrink-1 p-1" (click)="toggleTaskStatus(goal)">
                  <i class="far fa-check-circle"></i>
                </div>
              </div>
              <div class="goal-description">
                {{goal.description}}
              </div>
              <div class="goal-tags-wrapper mt-2">
                <span *ngFor="let tag of goal.tag" class="goal-tag mr-1 px-2">{{tag}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h3 class="mb-2 font-weight-bold">This Month</h3>
          <div class="goal-wrapper d-flex flex-column">
            <div *ngFor="let goal of model.slice(2,7)" class="goal-item my-2 p-2" [class.pending]="goal.status === 'pending'">
              <div class="goal-header d-flex">
                <h4 class="goal-title flex-grow-1">
                  {{goal.title}}
                </h4>
                <div class="goal-status flex-shrink-1 p-1" (click)="toggleTaskStatus(goal)">
                  <i class="far fa-check-circle"></i>
                </div>
              </div>
              <div class="goal-description">
                {{goal.description}}
              </div>
              <div class="goal-tags-wrapper mt-2">
                <span *ngFor="let tag of goal.tag" class="goal-tag mr-1 px-2">{{tag}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h3 class="mb-2 font-weight-bold">This Quarter</h3>
          <div class="goal-wrapper d-flex flex-column">
            <div *ngFor="let goal of model.slice(7,10)" class="goal-item my-2 p-2" [class.pending]="goal.status === 'pending'">
              <div class="goal-header d-flex">
                <h4 class="goal-title flex-grow-1">
                  {{goal.title}}
                </h4>
                <div class="goal-status flex-shrink-1 p-1" (click)="toggleTaskStatus(goal)">
                  <i class="far fa-check-circle"></i>
                </div>
              </div>
              <div class="goal-description">
                {{goal.description}}
              </div>
              <div class="goal-tags-wrapper mt-2">
                <span *ngFor="let tag of goal.tag" class="goal-tag mr-1 px-2">{{tag}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h3 class="mb-2 font-weight-bold">This Year</h3>
          <div class="goal-wrapper d-flex flex-column">
            <div *ngFor="let goal of model.slice(10,15)" class="goal-item my-2 p-2" [class.pending]="goal.status === 'pending'">
              <div class="goal-header d-flex">
                <h4 class="goal-title flex-grow-1">
                  {{goal.title}}
                </h4>
                <div class="goal-status flex-shrink-1 p-1" (click)="toggleTaskStatus(goal)">
                  <i class="far fa-check-circle"></i>
                </div>
              </div>
              <div class="goal-description">
                {{goal.description}}
              </div>
              <div class="goal-tags-wrapper mt-2">
                <span *ngFor="let tag of goal.tag" class="goal-tag mr-1 px-2">{{tag}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
