.goal-item {
  flex-basis: 5rem;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;

  &.pending{
    text-decoration: line-through;
    opacity: 0.5;
    
    .goal-status{
      opacity: 1;
    }
  }

  &:hover .goal-status{
    opacity: 1;
  }
}
.goal-status{
  color: #c7c7c7;
  opacity: 0;
  transition: all 0.2s;
  &:hover {
    color: initial;
    cursor: pointer;
  }
}
.goal-tag{
  background: #def6ff;
  border-radius: 5px;
  font-size: 0.85rem;
}
