<header>

  <nav class="navbar navbar-expand-lg py-0">
    <div class="navbar-brand mx-4">Manage</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-2">
          <a class="nav-link py-3 px-3" href="#" routerLink="/dashboard" routerLinkActive="active">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link py-3 px-3" href="#" routerLink="/challenges" routerLinkActive="active">Challenges</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link py-3 px-3" href="#" routerLink="/team" routerLinkActive="active">Team</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link py-3 px-3" href="#" routerLink="/my-info" routerLinkActive="active">My Profile</a>
        </li>
      </ul>
    </div>
    <div>
      <h5 routerLink="/auth/login">Log out</h5>
    </div>
  </nav>


</header>
