<h3 class="card-title float-left mb-4">Login</h3>
<div class="card-subtitle float-right mt-2 text-link" (click)="toggleCard()">Register</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" formControlName="email" name="email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="" formControlName="password" name="password">
  </div>
  <div class="form-group form-check text-right">
    <input type="checkbox" class="form-check-input" id="loginRemember" formControlName="remember" name="remember">
    <label class="form-check-label" for="loginRemember">Keep me signed in on this computer</label>
  </div>
  <button type="submit" class="btn btn-primary float-right" [disabled]="!loginForm.valid">Login</button>
</form>
